# Your postgres database
DATABASE_URL="postgresql://postgres:password@localhost:5432/app"
# The url of your backend, for local development, it should be the port 4000 on your local machine
BACKEND_URL="http://localhost:4000"